@model ChartJsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>ASP.NET Core Web Apps Report with Data in Azure Blob and Azure Sql Server</b></p>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<vc:chartjs></vc:chartjs>